body {
    background-image: linear-gradient(to right, rgba(128,128,128,0), rgba(128,128,100,1));
    display: grid;
    grid-template-columns: auto auto auto auto;
}

button {
    background-color: ltgray; 
    color: black;
    padding: 15px 32px;
    text-align: center;
    margin:20px auto;
    border-style: outset;
    border-color: #fff;
    border-width: 5px;    
    width: 50%;
    height: 50%;
}

.lg_text {
    font-size: 30px;
    text-shadow: 2px 2px gray;
}
.sm_text {
    font-size: 12px;
}