button {
    background-color: #gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    margin:auto;
    display:block;
    border-style: outset;
    border-color: ltgray;
    border-width: 7px;    
}