<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" type="text/css" href="index.css">
        <script src="jquery-3.3.1.min.js">
        </script>
        <script src="vue.js">
        </script>        
    </head>
    <body>
        <div id="buttons">
            <open-sesame-button v-for="r in rid" v-bind:device="r" :key="r.id"></open-sesame-button>
        </div>
    </body>
    <script>
        // Define a new component called button-counter
        Vue.component('open-sesame-button', {
            props: ['device'],
            methods: {
                clicked_button: function(event) {
                    let targetId = event.currentTarget.id;
                    $( "#" + targetId).animate({
                        opacity: 0.0
                    }, 250, function() {
                        // Animation complete.
                        $.get( "/open",  { id: targetId } , function( data ) {
                            $( "#" + targetId).animate({
                                opacity: 1.0
                            }, 100);
                        });
                    });
                }
            },
            template: '<button :id="device.id" @click="clicked_button($event)">          \
                        <p v-if="device.name" class="lg_text">[[ device.name ]]</p>      \
                        <p v-if="!device.name"class="lg_text">OPEN [[device.index]]</p>  \
                        <p v-if="!device.name" class="sm_text">[[ device.id ]]</p>       \
                        <p class="sm_text">state = [[ device.val ]]</p>                  \
                        <p v-if="device.name" class="sm_text">[[ device.id ]]</p>        \
                    </button>',
            delimiters: ["[[","]]"]
        });
        
        let app = new Vue({
            el: '#buttons',
            data: {
                rid: []
            },
            delimiters: ["[[","]]"]
        })              

        $( document ).ready(function() {
            // retrieve data from server
            function get_data() {
                $.get(
                    "/get",
                    function(data) {
                        app.rid = data;
                        setTimeout(get_data, 5*1000);
                    }
                );
            }
            get_data();
        });  
    </script>
</html>