<!DOCTYPE html>
<html>
    <head>
        <title>
            Index
        </title>
        <link rel="stylesheet" type="text/css" href="index.css">
        <script src="jquery-3.3.1.min.js"></script>
        <script src="vue.js"></script>        
        <script src="vue-simple-spinner.min.js"></script>        
    </head>
    <body>
        <div id="buttons">
            <div>
                <open-sesame-button v-for="r in rid" v-bind:device="r" :key="r.id"></open-sesame-button>
            </div>
            <div class="horzLine">
            </div>
            <div>
                <input class="lg_checkbox" type="checkbox" id="checkbox" v-model="all">
                <label for="checkbox">{{ all ? "show only selected states" : "show all states" }}</label>
            </div>
        </div>
    </body>
    <script>
        // Define a new component called button-counter
        Vue.component('open-sesame-button', {
            props: ['device'],
            methods: {
                clicked_button: function(event) {
                    this.device.updating = true;
                    let targetId = event.currentTarget.id;
                    $( "#" + targetId).animate({
                        opacity: 0.1
                    }, 250, function() {
                        // Animation complete.
                        $.get( "/open",  { id: targetId } , function( data ) {
                            $( "#" + targetId).animate({
                                opacity: 1.0
                            }, 100);
                        });
                    });
                },
                isNumber: function() {
                    return this.device.type === 'number';
                }
            },
            template: '<button :id="device.id" @click="clicked_button($event)">          \
                        <vue-simple-spinner v-if="device.updating"></vue-simple-spinner> \
                        <p v-if="device.name" class="lg_text">{{ device.name }}</p>      \
                        <p v-if="!device.name"class="lg_text">OPEN {{device.index}}</p>  \
                        <p v-if="!device.name" class="sm_text">{{ device.id }}</p>       \
                        <p class="sm_text" v-if="isNumber()" >number {{ device.val }}</p>                  \
                        <p class="sm_text" v-else>bool {{ device.val ? "true" : "false" }}</p>                  \
                        <p v-if="device.name" class="sm_text">{{ device.id }}</p>        \
                    </button>',
        });

        // retrieve data from server
        function get_data() {
            options = {}
            if (app.all) {
                options = { all: 1 };
            }
            $.get(
                "/get",
                options,
                function(data) {
                    app.rid = data;
                    setTimeout(get_data, 5*1000);
                }
            );
        }
        
        let app = new Vue({
            el: '#buttons',
            data: {
                rid: [],
                all: false
            },
            watch: {
                all: function(old_value, new_value) {
                    get_data();
                }
            }
        })

        $( document ).ready(function() {
            get_data();
        });  
    </script>
</html>